@import 'config';

.showcase {
  @include set-background($primary-color);
  // background-color: $primary-color;
  // color: set-text-color($primary-color);
  height: 600px;
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      list-style-type: none;
    }

    li {
      padding: 15px;
    }

    a {
      color: set-text-color($primary-color);
    }

    a:hover {
      color: $secondary-color;
    }
  }
  //& replaced showcase
  &Content {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

    img {
      width: 50%;
    }
    h1 {
      font-size: 50px;
      line-height: 1.2;
    }
  }
}

.container {
  max-width: 1100px;
  padding: 0 30px;
  margin: 0 auto;
}
//shared
%btn {
  display: inline-block;
  border-radius: 5px;
  padding: 8px 20px;
  margin: 3px;

  &:hover {
    transform: scale(0.98);
  }
}
.btnPrimary {
  @extend %btn;
  @include set-background(lighten($color: $primary-color, $amount: 10%));
}
.btnSecondary {
  @extend %btn;
  @include set-background($secondary-color);
}
@import 'mobile';
